body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  background: linear-gradient(90deg, #00b894, #00c8ff);
  color: white;
}

.propil {
  width: 200px;
  height: 200px;
  border-radius: 500px;
  background: url(../foto-roblox/unnamed.jpg);
  border: 5px solid #fff;
}
.konten {
  margin-bottom: 60px;
}
.konten h1 {
  font-size: 48px;
  margin-bottom: 0;
}

.konten p {
  font-size: 22px;
  margin: 10px 0 25px 0;
}

.tombol {
  display: flex;
  gap: 15px;
}

.cv,
.hire {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 600;
}

.cv {
  background: #fff;
  color: black;
}

.hire {
  background: #00b894;
  color: #fff;
}
.P {
  font-weight: 700;
}
