h1,
h2,
h3 {
  color: blue;
  font-family: serif;
}

p {
  color: aqua;
}
body {
  height: 100%;
  padding: 0%;
  background-image: url("./Screenshot\ 2025-08-20\ 112007.png");
  background-size: 100%;
}

.bg-yellow {
  background-color: yellow;
}

#header {
  background: grey;
}

input[type="text"] {
  background: yellow;
}

footer {
  color: inherit;
  font-family: inherit;
}
