body {
  margin: 0;
  background: linear-gradient(#68b6ff, #c9e6ff);
  font-family: "Poppins", sans-serif;
}

.navbar {
  padding: 12px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  height: 48px;
}

.nav {
  list-style: none;
  display: flex;
  gap: 70px;
}

.nav li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 16px;
}

.tmbl-demo {
  text-decoration: none;
  background: linear-gradient(90deg, #41a9ff, #8dcaff);
  color: white;
  padding: 12px 26px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.hero {
  display: flex;
  justify-content: space-between;
  padding: 80px 60px;
  align-items: center;
}

.hero-left {
  max-width: 45%;
}

.hero-left h1 {
  font-size: 48px;
  color: white;
  line-height: 1.2;
}

.accent {
  color: #ff6d6d;
}

.hero-left p {
  color: white;
  font-size: 18px;
  margin-top: 20px;
  line-height: 1.5;
}

.cta {
  display: inline-block;
  margin-top: 25px;
  background: #ff6d6d;
  color: white;
  padding: 14px 28px;
  border-radius: 30px;
  text-decoration: none;
  font-size: 16px;
}

.hero-right {
  position: relative;
}

.img-teknologia {
  width: 470px;
}
.div {
  background-color: white;
  width: 600px;
  height: 300px;
  margin: 0 auto;
  border-radius: 20px;
  margin-top: 50px;
  margin-bottom: 20px;
  padding: 20px;
}
.fitur-section {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 80px;
}

.fitur-container {
  background: white;
  width: 85%;
  max-width: 1100px;
  padding: 50px 40px;
  border-radius: 25px;
  box-shadow: 0px 25px 60px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.fitur-title {
  font-size: 32px;
  color: #1a1a1a;
  font-weight: 600;
  line-height: 1.3;
}

.fitur-adz {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  justify-items: center;
}

.fitur-anak {
}

.fitur-anak img {
  width: 95px;
  height: 95px;
}

.fitur-anak p {
  font-size: 16px;
  font-weight: 500;
  color: #1a1a1a;
}
