.heading {
  font-size: 20px;
  font-weight: bold;
}

.subheading {
  padding-left: 30px;
}

span {
  padding: 10px;
  display: block;
}

.kotak {
  display: inline-block;
  margin: 10px;
}

.kotak1 {
  background-color: peachpuff;
  width: 200px;
  height: 100px;
}

.kotak2 {
  background-color: lightcoral;
  width: 150px;
  height: 150px;
}

#none {
  display: none;
}
