body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: rgb(96, 136, 134);
  overflow-y: auto;
  padding: 20px 0;
}

.sidebar a {
  display: block;
  color: white;
  padding: 12px 20px;
  text-decoration: none;
  font-weight: bold;
}

.sidebar a:hover {
  background-color: #00ff62;
}

.content {
  margin-left: 200px;
  padding: 20px;
}
