* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: white;
  padding-top: 100px;
}

.navbar {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 60px;
  border-bottom: 2px solid #eaeaea;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.logo img {
  height: 32px;
}

.navigasi {
  display: flex;
  gap: 40px;
  align-items: center;
}

.navigasi a {
  text-decoration: none;
  color: #3a3a52;
  font-weight: 500;
}

.navigasi .active {
  color: #8a5cf6;
}

.kontak {
  background: white;
  border: 2px solid #8a5cf6;
  color: #8a5cf6;
  font-weight: 500;
  padding: 20px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.kontak:hover {
  background-color: #5e3bee;
  color: white;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 100px;
  background-color: hwb(197 93% 1%);
}

.hero-text {
  max-width: 50%;
  margin-top: 40px;
}

.hero-text h1 {
  font-size: 48px;
  font-weight: 700;
  color: #1d1d1f;
}

.hero-text h1 span {
  color: #5e3bee;
}

.desc {
  color: #4a4a4a;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 16px;
}

.btn {
  background-color: #5e3bee;
  color: white;
  border: none;
  padding: 12px 28px;
  font-size: 15px;
  border-radius: 6px;
  cursor: pointer;
}
.btn:hover {
  background-color: grey;
  color: #ffffff;
}

.hero-image {
  border-radius: 20px;
  padding: 20px;
}

.hero-image img {
  width: 550px;
  border-radius: 12px;
  margin-bottom: 40px;
  margin-top: 50px;
}

.expertise {
  max-width: 1100px;
  margin: 80px auto;
  padding: 0 20px;
}

.subtitle {
  margin-bottom: 8px;
}

.title {
  font-size: 36px;
}

.expertise-cards {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.expertise-cards .card {
  min-width: 240px;
  background: #f5faff;
  border-radius: 12px;
  padding: 30px 20px;
}
.icon {
  width: 70px;
  height: 70px;
  margin-bottom: 20px;
}

.card h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 12px;
}

.card p {
  font-size: 14px;
  color: #555;
}

.about-section {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #a9a9b3;
  padding: 80px 120px;
}

.about-image {
  width: 350px;
}

.about-image img {
  width: 100%;
  border-radius: 10px;
}

.about-text {
  max-width: 500px;
  margin-left: 60px;
}

.tittle-kecil {
  font-size: 14px;
  margin-bottom: 10px;
}

.about-text h2 {
  font-size: 36px;
  color: black;
  margin-bottom: 20px;
}

.about-text p {
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 15px;
  color: #000000;
}

.portfolio-section {
  width: 90%;
  max-width: 1200px;
  margin: 60px auto;
  position: relative;
}

.portfolio-header {
  display: block;
  margin-bottom: 40px;
}

.recent {
  color: #6b6b6b;
  font-size: 14px;
}

.poor {
  font-size: 40px;
  font-weight: 700;
  color: #2a2a2a;
}

.btn-visit {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #e62872;
  color: white;
  text-decoration: none;
  padding: 15px 18px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 14px;
}

.portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  align-items: stretch;
}
.portfolio-container .card {
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.portfolio-container .card-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.portfolio-container .card-content p {
  flex-grow: 1;
}

.card-img {
  width: 100%;
  display: block;
}

.card-content h3 {
  margin: 0 0 10px;
  font-size: 18px;
  font-weight: 600;
}

.card-content p {
  font-size: 14px;
  color: #555;
  margin-bottom: 15px;
  line-height: 1.5;
}

.view-link {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: black;
  font-weight: 600;
}
.view-link::after {
  content: "";
  position: absolute;
  width: 150px;
  height: 2px;
  background-color: #5e3bee;
  margin-top: 42px;
  transition: 0.3s;
}

.h11 {
  margin-top: 20px;
}

.Visit {
  width: 20px;
}
.portfolio-container .card svg {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}
.Get {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.tulisan {
  text-align: center;
  margin-top: 25px;
  font-size: 40px;
}
.lorems {
  text-align: center;
  margin-top: 20px;
  font-weight: 500;
}

.contact {
  color: #000000;
  text-align: center;
  padding: 100px 20px;
}

.contact .container {
  max-width: 600px;
  margin: 0 auto;
}

.contact h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.contact h1 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 10px;
}

.contact p {
  font-size: 14px;
  margin-bottom: 40px;
  color: #000000;
}

.contact form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  display: flex;
  gap: 20px;
}

.input-field {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-field label {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 6px;
  color: #1d1d1f;
  text-align: left;
}

.input-field input,
.input-field select,
.input-field textarea {
  border: 1px solid #9b6bff;
  border-radius: 6px;
  padding: 12px;
  font-size: 14px;
  width: 100%;
  outline: none;
}

.input-field textarea {
  resize: none;
  height: 120px;
}

.form-check {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 13px;
  margin-top: 10px;
}

.form-check input {
  width: 15px;
  height: 15px;
}

.contact button {
  background-color: #7a5cff;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 12px 0;
  font-size: 15px;
  cursor: pointer;
  width: 100px;
  margin: 15px auto;
}

.contact button:hover {
  background-color: #9b6bff;
}

.footer {
  background-color: #f4fbfe;
  padding: 40px 80px;
  font-family: Arial, sans-serif;
  color: #000;
}

.footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-logo img {
  height: 30px;
}

.footer-nav {
  display: flex;
  gap: 40px;
}

.footer-nav a {
  text-decoration: none;
  color: #000;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-social {
  display: flex;
  gap: 25px;
  font-size: 20px;
}

.footer hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 40px 0 20px;
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 16px;
}

.footer-bottom p span {
  color: #ff2b75;
}

.footer-links {
  display: flex;
  gap: 30px;
}

.footer-links a {
  text-decoration: none;
  color: #000;
}
